[submodule "src/components/automation"]
	path = src/components/automation
	url = https://github.com/antaresproject/automation.git
[submodule "src/components/search"]
	path = src/components/search
	url = https://github.com/antaresproject/search.git
[submodule "src/core"]
	url = https://github.com/antaresproject/core.git
	path = src/core
[submodule "src/components/widgets"]
	path = src/components/widgets
	url = https://github.com/antaresproject/widgets.git
[submodule "src/components/logger"]
	path = src/components/logger
	url = https://github.com/antaresproject/logger.git
[submodule "src/components/api"]
	path = src/components/api
	url = https://github.com/antaresproject/api.git
[submodule "src/components/two_factor_auth"]
	path = src/components/two_factor_auth
	url = https://github.com/antaresproject/two_factor_auth
[submodule "src/components/ban_management"]
	path = src/components/ban_management
	url = https://github.com/antaresproject/ban_management.git
[submodule "src/components/module"]
	path = src/components/module
	url = https://github.com/antaresproject/module.git
[submodule "src/components/control"]
	path = src/components/control
	url = https://github.com/antaresproject/control.git
[submodule "src/components/customfields"]
	path = src/components/customfields
	url = https://github.com/antaresproject/customfields.git
[submodule "src/components/notifications"]
	path = src/components/notifications
	url = https://github.com/antaresproject/notifications.git
[submodule "src/components/tester"]
	path = src/components/tester
	url = https://github.com/antaresproject/tester.git
[submodule "src/components/translations"]
	path = src/components/translations
	url = https://github.com/antaresproject/translations.git
[submodule "src/components/updater"]
	path = src/components/updater
	url = https://github.com/antaresproject/updater.git
