/nbproject/*
composer.lock
.env
_ide_helper.php
/vendor/
/vendor/*
/vendor/*/*
/ide_helper.php
/composer.lock
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/app/*
/public/packages/antares/core
/storage/debugbar
/public/screens
/auth.json
/.idea
/src/core/*
public/apidocs/*
/nbproject
