{% extends "antares/foundation::layouts.quest.main" %}
{% block content %}
    <div id="app-wrapper">
        <div class="app-content page-login">
            <section class="main-content">
                <div class="login-box">
                    {{ form|raw }}
                </div>
            </section>
        </div>
    </div>
{% endblock %}
