{% extends "antares/foundation::layouts.quest.main" %}
{% block content %}
    <div class="app-content page-login">
        <div class="img-logo" style="background-image:url({{ brand_logo('big',asset('/img/logos/logo_default_full_mobile.png')) }})"></div>
        <section class="main-content">
            <div class="login-box">
                {{ form|raw }}
            </div>
        </section>
    </div>
{% endblock %}
