<div class="search-box mr16" style="display: none !important;">
    <i class="zmdi zmdi-search"></i>
    <form action="#">
        <div class="search-box__mdl-textfield mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input search-box__search-field" type="text" id="main-search">
            <label class="mdl-textfield__label" for="sample1">Search...</label>
        </div>
    </form>
    <i class="search-box__close zmdi zmdi-close mr16 "></i>
</div>
