
Header always set Access-Control-Allow-Origin "http://demo.antaresproject.io"                   
#Header always set Access-Control-Allow-Methods "PUT, GET, POST, DELETE, OPTIONS"
#Header set Access-Control-Allow-Headers "authorization,Authorization ,origin, x-requested-with, content-type"

Header always set Access-Control-Allow-Methods "POST, GET, PUT, OPTIONS, PATCH, DELETE" 
#Header always set Access-Control-Allow-Origin "%{ORIGIN}e"
Header always set Access-Control-Allow-Credentials "true"
Header always set Access-Control-Allow-Headers "Authorization,X-Accept-Charset,X-Accept,Content-Type"

<IfModule mod_rewrite.c>
	RewriteEngine On
#        RewriteCond %{REQUEST_METHOD} OPTIONS 
#        RewriteRule ^(.*)$ $1 [R=200,L] 
        RewriteCond %{REQUEST_METHOD} OPTIONS
        RewriteRule ^(.*)$ $1 [R=200,L,E=HTTP_ORIGIN:%{HTTP:ORIGIN}]
	RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^ index.php [L]
</IfModule>