<label class="switch">
    <input class="switch-checkbox" name="{{ control.getName() }}" type="checkbox" value="{{ control.getValue() }}" {{ control.getAttributes()|stringify }} >
    <div class="switch-container">
        <div class="switch-handle"></div>
    </div>
</label>
