<li data-name="brand" class="main-menu__brand">
    <a href="{{ handles('antares::/') }}" title="Dashboard" class="no--menu">
        <div class="main-sidebar__logo" title="{{ brand_title() }}" style="background-image: url({{ brand_logo() }})"></div>
    </a>
</li>