<div class="col-dt-2 col-2 col-mb-2">
    <label class="form-block__name">&nbsp;</label>
</div>
<div class="col-dt-14 col-14 col-mb-14 ">
    {% if control.inlineHelp|length>1 %}
        <div class="input-field__desc">
            {{ control.inlineHelp|raw }}
        </div>
    {% endif %}
    {% if control.help|length>1 %}
        <div class="input-field__desc">
            {{ control.help|raw }}
        </div>
    {% endif %}
</div>
