{{ control.getField(row, control, [])|raw }}
{% if errors.has(control.name) %}
    <span class="input-field__icon">
        <i class="zmdi zmdi-close"></i>
    </span>
{% endif %}
<div id="{{ control.id }}_error" class="input-field__desc">
    {{ errors.first(control.name, format)|raw }}
</div>      

