<div class="col-24">
    <div class="form-block">
        <div class="input-field">            
            <div id="dropzoneLogo" class="dropzone dropzone-form brand-logo">
                <div class="dz-message" data-dz-message>
                    <div class="dz-m__current">                                                
                        {% if field.get('value') %}
                            <img src="{{ asset('img/logos/'~field.get('value'))}}" alt="">
                        {% endif %}
                    </div>
                    <div class="dz-m__header">
                        <i class="zmdi zmdi-wallpaper"></i>
                    </div>
                    <div class="dz-m__content">
                        <span>Drag &amp; drop,</span>
                        <span>or click to upload</span>
                    </div>
                </div>            
            </div>
            {{ input|raw }}            
        </div>    
    </div>
</div>        
<div class="col-24">        
    <label class="form-block__name p0 mt8">
        <span>{{ field.label|raw }}</span>
    </label>
</div>


