<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>        
{{ app('antares.asset').container('antares.header').style('exception', 'packages/antares/exception/css/style_clear.css').styles()|raw }}
<div class="error-container">
    {% block content %}
    {% endblock %}         
</div>