{% extends "antares/foundation::layouts.antares.index" %}
{% block app_content %}        
    {% block sidebar_top_widgets %}    
        <div class="item-grp-single is-hidden mainhead-btn--widget-edit"  data-tooltip-inline="{{ trans('Widget Edit Toggle') }}">
            <div class="mdl-js-button mdl-js-ripple-effect widget-edit" id="widgets-edit">
                <i class="icon--widgets-edit"></i>
            </div>
        </div>
    {% endblock %}    
    <div class="app-content page-forms page-forms--hor {{ brand_composition('short_top_menu') ? 'page-single-form': '' }}">
    {% endblock %} 
    {% block content %}
        {{ form|raw }}  
    {% endblock %}