<div class="jumbotron">
    <h2>Welcome to your new Antares site!</h2>
    <p>
        If you need help getting started, check out our documentation on First Steps with Antares.
        If you’d rather dive right in, here are a few things most people do first when they set up a new Antares site.
    </p>
</div>   
