{% extends "antares/foundation::layouts.antares.dashboard" %}   
{% block main_content %}
    <section class="main-content">
        {% include 'antares/foundation::components.messages'  %}                                    
        {% block content %}
        {% endblock %}         
        {% if app('antares.widgets.installed') %}                        
            <div class="grid-stack"  style="opacity:0">
                {{ widget_forced('activity_logs',{'width':12,'height':25,'disabled':false})|raw }}                        
            </div>                            
        {% endif %}
    </section>
{% endblock %}
