{% extends "antares/foundation::layouts.antares.dashboard" %}   
{% block main_content %}
    <section class="main-content">
        {% include 'antares/foundation::components.messages'  %}                                    
        {% block content %}
        {% endblock %}         
        <div class="grid-stack"  style="opacity:0">
            {{ component_forced('activity_logs',{'width':12,'height':25,'disabled':false})|raw }}                        
        </div>                            
    </section>
{% endblock %}
