{% extends "antares/foundation::layouts.quest.main" %}   
{% block content %} 
    <div class="not-allowed">
        <div>
            <h2>Error 404. &nbspOops you are not allowed to perform this action.</h2>
            <p>
                You don't have the required priviliges to perform this action.                
            </p>            
        </div>
    </div>    
{% endblock %}    



