<div class="ddown">
    <div class="ddown__init ddown__init--white">
        <a href="#" title="{{ label }}">{{ label }}</a>
    </div>
    <div class="ddown__content">
        <div class="ddown__arrow"></div>
        {{ submenu|raw }}
    </div>
</div>