<div class="item-grp-single mainhead-btn--widget-edit"  data-tooltip-inline="{{ trans('Widget Edit Toggle') }}">
    <div class="mdl-js-button mdl-js-ripple-effect widget-edit" id="widgets-edit">
        <i class="icon--widgets-edit"></i>
    </div>
</div>