{% if can('antares/widgets::widget-show') %}            
    <div class="item-grp-single"  data-tooltip-inline="{{ trans('Widgets Edit Toggle') }}">
        <div class="main-head__widgets-control mdl-js-button mdl-js-button mdl-js-ripple-effect" id="widgets-edit">
            <i class="icon--widgets-edit"></i>
        </div>
    </div>
{% endif %}