<div class="alert alert--bg alert--glow alert--warning alert--lg alert--border">                            
    <i class="zmdi zmdi-alert-triangle"></i>
    <span>
        <strong>{{ trans('Warning') }}!</strong> {{ trans('This form has no active fields. All available fields has beend disabled by system supervisor.For more information please contact to system administrator.') }}
    </span>
</div>