<!DOCTYPE html>
<html lang="en">
    <head>        
        {% block head %}
            {% embed "antares/foundation::layouts.antares.partials._head_webpack" %}
                {% block head_title %}
                    {% set title=get_meta('title') %}
                    <title>Antares Installer  {{ title|length > 0 ? '- '~title:'' }}</title>                    
                {% endblock %}
            {% endembed %}        
        {% endblock %}                       
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
        <link media="all" type="text/css" rel="stylesheet" href="/packages/core/css/install.css">
    </head>
    <body>        
        {% block app_wrapper %}            
        {% endblock %}
    </div>
    {% include 'antares/foundation::layouts.antares.partials._scripts_webpack' %}                
    <script src="/webpack/forms_basic.js"></script>

    <script>
        $(document).ready(function () {
            $('.card > * > *, .tbl-c > *,form').css('opacity', '1');
        });
    </script>   
</body>
</html>
