<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
            {% include 'antares/foundation::layouts.quest.partials._head' %}
        {% endblock %}        
        <style>
            .app-install__step-1 .zmdi-check{
                font-size:24px;
                color:#5ec250;
            }
            .app-install__step-1  .zmdi-close {
                font-size: 24px;
                color: #f44336;
            }
            .page-create{
                margin:0;
            }
            .menu-aside.menu-aside--steps:before{
                top:127px;
                height:53%;
            }
            .install-logo{
                margin:5% 12%;
            }
            .app-install__step-1 .form-block__name{
                text-align: right;
            }
            .app-install__step-1 .input-field__desc, .app-install__step-1 .input-field__desc p{
                font-weight:500;
                line-height:24px;
            }
            .CodeMirror{
                height:725px !important;                
            }
        </style>
    </head>
    <body>
        {% include 'antares/foundation::components.messages'  %}                                

        {% block app_wrapper %}            
        {% endblock %}

        {% include 'antares/foundation::layouts.quest.partials._scripts' %}
        {% set container=app('antares.asset').container('antares/installer') %}
        {{ container.styles()|raw }}
        {{ container.scripts()|raw }}
    </body>
</html>
