{% extends 'antares/foundation::layouts.antares.main' %}
{% block sidebar_top_widgets %}    
    {% include 'antares/foundation::layouts.antares.partials._sidebar_top_widgets' %}
{% endblock %}    
{% block main_content %}
    <section class="main-content">
        {% include 'antares/foundation::components.messages'  %}                                    
        {% block content %}
        {% endblock %}
        <div class="grid-stack">
            {#{% set components=components() %}                
            {% for component in components %}
                {{ component(component)|raw }}
            {% endfor %}                        #}
            {{ component_forced('files_widget',{'width':15,'height':20,'disabled':false,'x':0,'y':0})|raw }}
        </div>
    </section>
{% endblock %} 