{% extends 'antares/foundation::layouts.antares.main' %}
{% block sidebar_top_widgets %}    
    {% include 'antares/foundation::layouts.antares.partials._sidebar_top_widgets' %}
{% endblock %}    
{% block main_content %}
    <section class="main-content">
        {% include 'antares/foundation::components.messages'  %}                                    
        {% block content %}
        {% endblock %}         

        {% if app('antares.widgets.installed') %}            
            <div class="grid-stack">
                {{ event_gridable()|raw }}
                {% set widgets=widgets() %}                
                {% for widget in widgets %}
                    {{ widget(widget)|raw }}
                {% endfor %}                
            </div>                       
        {% endif %}
    </section>
{% endblock %} 