.panel.containerable{
    position:relative;
}
.billevo-preloader.containerable{
    position:absolute;
    background: rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 768px) { 
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.indicator {
    display:none;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 1000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 1000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;

    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.no-padding-right{
    padding-right:0px !important;
}
.no-padding-left{
    padding-left:0px !important;
}
div.errorSummary
{
    border: 2px solid #C00;
    padding: 7px 7px 0px 7px;
    background: #FEE;
    font-size: 0.9em;
    display:none;
    margin:0px;
}

.text-wrapped{
    width : 100px;
    overflow:hidden;
    display:inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.modal-dialog{
    color:#000;
}
.spin {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 1000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 1000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;    
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
.dots{
    display:inline-block;
    width:180px;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}
.dots-long{
    width:400px;    
}

.separator{
    height:40px;
}

.analyzer-tabs .tab-pane{
    border:1px solid #ddd;
    border-top:none;
    padding:20px;
}
.show-grid{
    margin-bottom:15px;
}
ul.nav-stacked li{
    padding:3px 0px 3px 0px;
    list-style-type:none;
}
.dataTables_wrapper table.dataTable tr.no-padding td{
    padding:0px 5px 0px 5px;
}
.inline-translation{
    margin-top: 4px;
    margin-bottom: 4px;

}

.sweet-alert{
    top: 5% !important;
    position:absolute !important;
    margin-top:0px !important;

}

.div.errorSummary{
    padding: 10px 7px 0px 7px !important;
}
#notificationTemplatePreview .modal-dialog
{
    width: 50%;
}
.mass-actions-menu{
    display:none;
}
.hide{
    display:none !important;
}
.full-width {
    width: 100%;
}
.gravatar{
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.search-rows li span:last-child{
    padding-left:0px;
    color:#5c6066;
    font-size:13px;
}
ul.search-rows li{
    line-height: 30px;
}
ul li span.search-content span.highlight, ul.ui-autocomplete .ui-menu-item a span.highlight{
    background-color: #ffeb3b;
}
li.none{
    list-style:none;
    margin-top: 15px;
}

.tbl-c table th.sorting:after{
    content:'';
}
.hidden{
    display:none !important;
}
.select2-container--default .select2-results>.select2-results__options{
    max-height:200px;
    overflow-y:auto;
}

.tbl-c .card-ctrls .card-ctrls__left > *, .tbl-c--zd .dt-area-bottom{
    display: block !important;
}
.tbl-c--zd .dataTables_paginate, .tbl-c--zd .dataTables_length{
    display: none !important;
}
.tbl-c--zd #table-ma{
    display: none !important;
}
.no-padding{
    padding:0px !important;
}
.md-preloader-container{
    background: rgba(255, 255, 255, 0.5) !important;
}
.ddown__menu--innerpadd li.ddown-multi__return,.ddown__menu--innerpadd li.ddown-multi__return:hover{
    height:39px;
    background-color:#02A8F3;
    line-height:39px;
    padding:0px;
}
.ddown__menu--innerpadd li.ddown-multi__return span{
    color:#FFF;
    font-size:13px;
}
.ddown .ddown__menu > li.ddown-multi__return:hover > a{
    background-color:#02A8F3;
}
.ddown .ddown__menu > li.mdl-disabled > a{
    color:#ebedf2    
}
.ddown .ddown__menu > li.mdl-disabled:hover > a{
    background-color: #FFF;
}
.tbl-c table tr td.bolded{
    font-weight: 600 !important;
}
.dataTable thead tr th{
    vertical-align: top;
}
ul.context-menu-list li:first-child span{
    font-weight: 900;
}
a.no--menu:after{
    content:none !important;    
}
aside.main-sidebar ul.main-menu > li.submenu-open > a:after{
    border-color: transparent #3d434e transparent transparent !important;
}
tr.no-actions.ui-selectee.is-selected td{
    background:none !important;
    border-bottom:1px solid #f0f2f5 !important;
}
.zero-data-widget{
    margin:auto !important;
    min-height:10vh !important;
}
.zero-data-widget .zero-data__indicator{
    padding:0px !important;
}
.zero-data-widget .zero-data__indicator:before{
    padding-left:16px;
    font-size:12vw;
}
.zero-data-widget .zero-data__txt, .zero-data-widget .zero-data__txt a{
    font-size: 30px;
    padding-left:7px;
    text-align:left;
    font-weight: 500;
    line-height:1.0;
}

.filter-container .select2-search--inline{
    padding-left:1px !important;
}
.grid-container-display{
    display:block;
}
.comiseo-daterangepicker{
    z-index:9999;
}
.form-block.hidden-block{
    display:none;
}
.search-show-all{
    max-width: 525px;
}
.search-box__mdl-textfield.is-invalid input{
    border-color: #de3226 !important;
    color:#de3226;
}
.search-box__mdl-textfield.is-invalid .mdl-textfield__label:after{
    background: #de3226;
}
.search-box .search-box__mdl-textfield.is-invalid.is-focused input{
    border-color: #de3226 !important;
}
.pace.pace-active{
    background:none !important;
}
.tbl-c--zd .card-ctrls .card-ctrls__left .select2-selection__clear { 
    display:none !important;
}
a.add-select-filter-button,a.add-daterange-button{
    color:#FFF !important;
    text-transform: uppercase !important;
}
.login-box .input-field__desc{
    font-size: 12px;
    padding-top: 10px;
}
.zmdi-window-maximize:last-child{
    margin-left:5px;
}
.grid-stack-item {
    transition: left 100ms, top 100ms, height 100ms, width 100ms !important;
}
.jquery-modal .card--comments{
    height:100%;
}
.jquery-modal .card--enlarged.modal .card__content{
    height:auto;
}
.jquery-modal .card{
    margin-bottom: 0px;
}
.jquery-modal .card__content{
    height: auto !important;
    min-height: 200px;
}
.widget-content{
    height:auto;
}
i.flag-icon{
    background-position:43%;
    width:20px;
    height: 16px;
    line-height:inherit;
    margin-left:3px;
    margin-right: 3px;
}
aside.main-sidebar ul.main-menu .submenu section .data-list li.is-active a{
    color:#FFF !important;
}
select{
    opacity:1;
}
.form-block textarea.inline-translation{
    -webkit-flex-basis:inherit;
}
.client-name .trademark-number{
    font-size:32px;
    font-weight: 700;
    letter-spacing: 7px;
    color:#000;
}
.card.card--dark .card__header{
    min-height: auto;
}
.qtip-content{
    line-height: 17px;
}
aside.main-sidebar ul.main-menu > li > a .text{
    text-align: center !important;
}
.breadcrumbs > li:before, .breadcrumbs > li:first-child a{
    color:#FFF !important;
}
.breadcrumbs > li:before, .breadcrumbs > li:first-child a{
    color:#FFF !important;
}
.breadcrumbs .ddown .ddown__menu > li > a{
    color:#5c6066 !important;
}
.separator-small{
    height:5px;
}
.separator-medium{
    height:20px;
}

.tbl-c table tr td img{
    max-height: 29px;
    max-width: 120px;
}
.auto-width{
    width:auto !important;
}
.triggers-rule div{
    padding-top: 14px !important;
}
.trademark-details-logo{
    justify-content: center !important;
}
#calendar .fc-basic-view .is-day-selected{
    background: #9cd25a !important;
}
#calendar .fc-widget-content.fc-today.fc-state-highlight:before{
    border: 1px solid #8bb557 !important;
}

#calendar .fc-today.fc-state-highlight{
    background: #8bb557 !important;
}
.text-line-through{
    text-decoration: line-through;
}

.possible-additional-row .new-tr {
    padding-top: 0; }

.possible-additional-row .new-tr p, .possible-additional-row .new-tr a {
    font-size: 10px;
    line-height: 14px; 
}
.possible-additional-row tr.new-tr {
    font-style: italic; 
}
.possible-additional-row tr.new-tr td {
    padding: 0 0 3px 0; 
    font-size: 10px;
}
.possible-additional-row tr.new-tr td p {
    width: 33%;
    padding-right: 10px;
    display: inline-block; 
}
.possible-additional-row tr.new-tr td a {
    font-size: inherit !important; 
}
table.possible-additional-row tr.new-tr:hover td{
    background-color:inherit !important;
}
.tbl-c table tr td.master-row{
    border:0 none;
}
.mdl-dialog{
    z-index: 1;
}
.template-type .error{
    display:none;
}
.mdl-dialog.ar-dialog .mdl-dialog__canvas{
    height:auto !important;    
}
#app-wrapper .app-content .main-content .tbl-c{
    padding:0px;
    box-shadow: none;
}
#app-wrapper .app-content .main-content .grid-container-display .tbl-c{
    padding:0 24px;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.05);
}

#app-wrapper .app-content .main-content .grid-stack-item-content .tbl-c{
    padding:24px;
    box-shadow: none;
}

#app-wrapper .app-content .main-content .tbl-c .card-ctrls{
    margin-top:0px !important;
}
#app-wrapper .app-content .main-content .grid-container-display .tbl-c .card-ctrls{
    margin-top:24px !important;
}
form fieldset .form-block span.error{
    padding-top:0px;
}
.form-block .input-field.input-field--desc input{
    margin:0px;
}
.zero-data{
    margin:35px 0;

}
.zero-data .zero-data__indicator{
    padding-left:20%;
    padding-right:30px;

}
.zero-data .zero-data__txt, .zero-data .zero-data__txt a{
    text-align:left;
}
#app-wrapper form.form--hor .form-block label.form-block__name{
    padding-top:0px;
}
.form-block{
    margin-bottom: 8px;
}
.form--hor fieldset .col-group{
    margin-bottom: 10px !important;
}
.sweet-container .CB--type2 .footer .sweet-cancel{
    margin-right: 16px;
}
.sweet-container .CB--type2 .footer .sweet-confirm{
    margin-right: 0px;
}