#app-wrapper aside.main-sidebar ul.main-menu>li.more-trigger {
    border-top: 0
}
.filter-multiple-select+.select2-container .select2-selection--multiple ul.select2-selection__rendered li.select2-search--inline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}
.filter-multiple-select+.select2-container .select2-selection--multiple ul.select2-selection__rendered li.select2-search--inline input {
    height: 100%;
    line-height: 100%;
    width: auto!important
}
#modal_import {
    width: 30%!important;
    min-width: 580px;
    padding: 27px 0 0!important
}
#modal_import .modal__footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 24px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
}
#modal_import .modal__inner-body {
    height: auto;
    overflow: hidden;
    min-height: 200px
}
#modal_import .modal__inner-body .domain-loader {
    margin: 0 auto;
    width: 220px;
    margin-top: 80px!important
}
#modal_import .modal__inner-body .domain-loader img {
    margin-right: 10px
}
#modal_import .modal__header {
    margin: 0
}
#modal_import .modal__content {
    margin: 0;
    padding: 0
}
#modal_import form>.col-group {
    margin: 0 24px
}
.card--logs .card__content {
    height: calc(100% - 52px)
}
#app-wrapper .dropzone .dz-preview {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}
#app-wrapper .dropzone .dz-preview.dz-file-preview .dz-image {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}
#app-wrapper .page-dashboard .card--logs .timeline {
    height: calc(100% - 150px)
}
@media screen and (max-width: 1199px) {
    #app-wrapper .card--logs .card__content {
        height: 480px
    }
}
.msie .grid-container.grid-container--1col .grid-col--container {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto
}
@media screen and (max-width: 768px) {
    #app-wrapper .pagination .pagination-pages ul.pagination-pages__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
}
@media screen and (max-width: 550px) {
    #app-wrapper .pagination .pagination-pages ul.pagination-pages__list {
        display: none
    }
}
.msie--11 form fieldset .form-block .input-field--short {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex: 0;
    flex: 0;
    min-width: 35px
}
.msie .tbl-c,
.msie--11 .tbl-c {
    min-height: 430px
}
@media screen and (max-width: 768px) {
    .msie #app-wrapper .grid-container.grid-container--1col.full-height {
        height: auto
    }
}
@media screen and (max-width: 450px) {
    .msie #app-wrapper .grid-container.grid-container--1col.full-height {
        height: auto
    }
}
.msie--11 .filter-container .ddown__sgl.ddown__sgl--range>.form-block {
    height: 32px
}
@media screen and (max-width: 768px) {
    #translationImport {
        width: 100%!important
    }
}
@media only screen and (max-width: 768px) {
    #app-wrapper aside.main-sidebar .mobile-ddowns .mobile-ddowns__sgl ul.mobile-ddowns__menu {
        background-color: #fa6464
    }
}
@media only screen and (max-width: 768px) {
    aside.main-sidebar .mobile-ddowns .mobile-ddowns__sgl ul.mobile-ddowns__menu li:hover {
        background-color: #da3b3b
    }
}

@media only screen and (max-width: 768px) {
    aside.main-sidebar .mobile-ddowns .mobile-ddowns__sgl.mobile-ddowns__sgl--open:after {
        color: #fa6464
    }
}
@media only screen and (max-width: 768px) {
    aside.main-sidebar .mobile-ddowns .mobile-ddowns__sgl ul.mobile-ddowns__menu.mobile-ddowns__menu--user .flex-block__desc {
        color: #ffd3d3
    }
}

#app-wrapper .grid-stack .grid-stack-item .tbl-c {
    min-height: auto
}
#app-wrapper .tbl-c {
    min-height: 400px
}
.grid-stack-item .tbl-c>.ps-scrollbar-x-rail,
.grid-stack-item .tbl-c>.ps-scrollbar-y-rail {
    display: none!important
}
#app-wrapper .grid-stack-item .tbl-c>.ps-scrollbar-x-rail,
#app-wrapper .grid-stack-item .tbl-c>.ps-scrollbar-y-rail {
    display: block!important
}
#app-wrapper .grid-stack .gs-dt .card,
#app-wrapper .grid-stack .gs-dt .card__content {
    height: 100%
}
.msie--11 .dz-bugfix>.input_field__inner {
    min-height: 350px
}
.msie--11 .dz-bugfix>.input_field__inner {
    height: 100%
}
.msie--11 .dz-bugfix>.col-16,
.msie--11 .dz-bugfix>.form-block,
.msie--11 .dz-bugfix>.input-field,
.msie--11 .dz-bugfix>.input-field__inner,
{
    height: 100%!important
}
.msie--11 .dz-bugfix>.dz-preview {
    min-height: 300px;
    height: 300px
}
.msie--11 .dropzone-form .dz-preview .dz-image {
    height: auto!important
}
.msie--11 .dz-bugfix {
    height: 300px;
    display: block;
    margin-bottom: 50px
}

.comments-loading .spinner-xs {

    display:inline-block

}

.mdl-dialog:before {
    content:'';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.main-head {
    // z-index:0;
}

#app-wrapper .tbl-c table tr th:first-child:after {
    display:inline;
}

#app-wrapper dialog {
    height: auto;
    background: transparent;
    box-shadow: none;
}

#app-wrapper dialog .mdl-dialog__canvas {
    box-shadow: 10px 0 30px rgba(0, 0, 0, 0.3);
    background: #fff;
}

@media only screen and (max-width: 768px){
    #app-wrapper aside.main-sidebar .main-menu__brand > a {
        padding-left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}