{% extends 'antares/foundation::layouts.antares.main' %}
{% block sidebar_top_widgets %}

{% endblock %}    
{% block main_content %}
    <section class="main-content">
        {% include 'antares/foundation::components.messages'  %}                                    
        {% block content %}
        {% endblock %}         
        {% if app('antares.widgets.installed') %}            
            <div class="grid-stack">                
                {{ widget_forced('user_details',{'width':3,'height':8,'disabled':false,'x':0,'y':0})|raw }}                        
                {{ widget_forced('items_widget',{'width':5,'height':14,'disabled':false,'x':3,'y':0})|raw }}                                                        
                {{ widget_forced('activity_logs',{'width':9,'height':12,'disabled':false,'x':3,'y':17})|raw }}                                        
                {{ widget_forced('notifications_widget',{'width':4,'height':9,'disabled':false,'x':9,'y':20})|raw }}                                
            </div>                            
        {% endif %}
    </section>
{% endblock %} 
