{% if breadcrumbs %}
    {% for breadcrumb in breadcrumbs %}        
        {% if (breadcrumb.url and not breadcrumb.last) or breadcrumb.force_link %}
            <li>
                <a href="{{ breadcrumb.url }}">
                    {{ breadcrumb.title }}
                </a>
            </li>
        {% else %}
            <li class="active">
                <span class="breadcrumb-title">
                    {{ breadcrumb.title }}
                </span>
            </li>
        {% endif %}
    {% endfor %}
{% endif %}