{% extends "antares/foundation::layouts.antares.index" %}
{% block content %}
    <div class="col-group">
        <div class="col-24">
            {{ form|raw }}
        </div>
    </div>
{% endblock %}