<div class="col-6">
    <div class="form-block">
        <div class="input-field mb8">            
            <div id="DropzoneLogo" class="dropzone dropzone-form brand-logo dz-clickable">
                <div class="dz-message" data-dz-message>
                    <div class="dz-m__current">                                                
                        {% if field.get('value') %}
                            <img src="{{ asset('img/logos/'~field.get('value'))}}" alt="">
                        {% else %}    
                            <img src="{{ asset('/img/logos/logo_white_full.png')}}" alt="">
                        {% endif %}
                    </div>
                    <div class="dz-m__header">
                        <i class="zmdi zmdi-wallpaper"></i>
                    </div>
                    <div class="dz-m__content">
                        <span>Drag &amp; drop,</span>
                        <span>or click to upload</span>
                    </div>
                </div>            
            </div>
            {{ input|raw }}            
        </div>
        <label class="form-block__name p0 mt8">
            <span>Logo</span>
            <i class="zmdi zmdi-help-outline help--trigger" data-tooltip="true" data-hasqtip="1386"></i>
            <div class="tooltip-content">
                <p>Logo used in the invoices, as well as in the login page.</p>
                <p class="tooltip__header mt16">Recommended format:</p>
                <p>PNG (without background)</p>
                <p class="tooltip__header mt16">Recommended minimum width:</p>
                <p>512 px</p>
            </div>
        </label>
    </div>
</div>