<div class="cp-brand {{ controls[0].container }} mr16">
    <div class="cp-brand__preview">
        <div class="cp-brand__ar-big">
            {{ controls[0].getField(row, controls[0], [])|raw }}
        </div>
        <span class="cp-brand__title">{{ controls[0].label }}</span>        
    </div>
    <div class="cp-brand__pallete ">
        <div class="cp-brand__sgl"></div>
        <div class="cp-brand__sgl"></div>
        <div class="cp-brand__sgl"></div>
    </div>
    {% for index, control in controls if index>0 %}
        {{ control.getField(row, control, [])|raw }}
    {% endfor %}
</div>
