<div class="type--contact flex-block">
    <div class="avatar avatar--active avatar--xs">

    </div>
    <div class="flex-block__content">
        <span class="flex-block__title">{{ model.name|raw }}</span>
        <div class="flex-block__desc">{{ model.created_at|raw }}</div>
    </div>
    <div class="flex-block__badge">

    </div>
</div>