<div class="text-right ml16">
    <a href="{{ url }}" class="btn btn--md btn--red mdl-button mdl-js-button mdl-js-ripple-effect back-to-admin" >        
        <span class="btn-text">Back to admin area</span>        
        <i class="zmdi zmdi-close-circle"></i>
    </a>
</div>